Django==3.1.13
djangorestframework==3.11.2
histographer-analysis==1.0.1
cytomine-python-client==2.2.0
gunicorn==20.0.4
requests==2.23.0
pandas==1.0.3
--extra-index-url=https://packagecloud.io/cytomine-uliege/Cytomine-python-client/pypi/simple
